// SIDEBAR
.sidebar-container {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100vh;
  background-color: $component-background;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sidebar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  cursor: pointer;
  margin: 5px;
  border-radius: 8px;
}

.sidebar-expaned > .sidebar-content,
.sidebar-expaned > .sidebar-content-last {
  width: 95%;
  margin: auto;
}

.sidebar-item-active .sidebar-item {
  transition: 0.05s ease-in-out !important;
}

.sidebar-item-active .sidebar-item-text {
  color: $background-color;
}
.sidebar-item-active > svg {
  fill: $background-color !important;
}

.sidebar-item-active {
  background-color: $base-color;
}
.sidebar-item > svg {
  transition: 0.15s ease-in-out;
  fill: $base-color;
}

.sidebar-expaned {
  width: 180px !important;
  opacity: 1 !important;
}

.sidebar-item-text {
  display: none;
  transition: 1s ease-in-out !important;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
  margin-left: 15px;
}

.sidebar-content-last {
  position: absolute;
  bottom: 0;
}

// EFFECTS

.sidebar-container.sidebar-expaned .sidebar-item {
  justify-content: flex-start;
}
.sidebar-container.sidebar-expaned .sidebar-item-text {
  display: block;
}
