@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.sidebar-container {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100vh;
  background-color: rgb(249, 249, 249);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sidebar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  cursor: pointer;
  margin: 5px;
  border-radius: 8px;
}

.sidebar-expaned > .sidebar-content,
.sidebar-expaned > .sidebar-content-last {
  width: 95%;
  margin: auto;
}

.sidebar-item-active .sidebar-item {
  transition: 0.05s ease-in-out !important;
}

.sidebar-item-active .sidebar-item-text {
  color: rgb(233, 233, 233);
}

.sidebar-item-active > svg {
  fill: rgb(233, 233, 233) !important;
}

.sidebar-item-active {
  background-color: rgb(68, 68, 68);
}

.sidebar-item > svg {
  transition: 0.15s ease-in-out;
  fill: rgb(68, 68, 68);
}

.sidebar-expaned {
  width: 180px !important;
  opacity: 1 !important;
}

.sidebar-item-text {
  display: none;
  transition: 1s ease-in-out !important;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
  margin-left: 15px;
}

.sidebar-content-last {
  position: absolute;
  bottom: 0;
}

.sidebar-container.sidebar-expaned .sidebar-item {
  justify-content: flex-start;
}

.sidebar-container.sidebar-expaned .sidebar-item-text {
  display: block;
}

.navbar-container {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(249, 249, 249);
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 0 20px;
  z-index: 300;
  color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar-rightside {
  position: absolute;
  right: 60px;
}

* {
  transition: 0.3s ease-in-out;
  color: rgb(68, 68, 68);
}

body {
  background-color: rgb(233, 233, 233);
  padding: 0px;
  margin: 0px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 50px);
  margin: auto;
  margin-top: 120px;
  position: relative;
  left: 25px;
  max-width: 1000px;
  justify-content: center;
  align-content: center;
}

.bg-component {
  background-color: rgb(249, 249, 249);
}

.component-container {
  width: 90%;
  margin: auto;
  padding: 10px;
  background-color: rgb(249, 249, 249);
  border-radius: 15px;
  min-width: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cursor-pointer {
  cursor: pointer;
}

.text-primary {
  color: rgb(255, 203, 32) !important;
}

.fill-primary {
  fill: rgb(255, 203, 32) !important;
}

.text-dark {
  color: rgb(68, 68, 68) !important;
}

.fill-dark {
  fill: rgb(68, 68, 68) !important;
}

.box-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media only screen and (max-device-width: 480px) {
  .sidebar-container {
    opacity: 0;
  }
  .page-wrapper {
    left: 0;
  }
}
.navbar-container {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(249, 249, 249);
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 0 20px;
  z-index: 300;
  color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar-rightside {
  position: absolute;
  right: 60px;
}

.col-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 9px;
  padding: 5px;
  background-color: rgb(249, 249, 249);
}

.col-card-text {
  padding: 5px;
  font-size: 17px;
  font-weight: 600;
  margin: 0px;
}

.col-card-container {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.col-sm-8 {
  width: calc(75% - 10px);
}

.col-sm-4 {
  width: calc(25% - 10px);
}

.col-sm {
  width: calc(33.3% - 10px);
}

.col-sm-6 {
  width: calc(50% - 10px);
}

#being-moved-element > .react-draggable.react-draggable-dragged {
  position: relative;
  z-index: 999;
  box-shadow: rgb(149, 157, 165) 0px 8px 24px;
}

.grid-drop {
  width: calc(100% - 10px);
  height: auto;
  padding: 10px;
  margin: auto;
}

.component-drop {
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.react-draggable-transparent-selection #root .page-container .page-wrapper .component-drop {
  opacity: 1 !important;
}

.component-drop-active {
  opacity: 1 !important;
  display: block !important;
}

.grid-drop-text {
  text-align: center;
}

.react-draggable-transparent-selection #root .page-container .page-wrapper .component-container .grid-drop .grid-drop-text {
  display: block;
}

.rendered-code {
  margin-left: 15px;
}

/*# sourceMappingURL=index.css.map */
