.component-button {
  padding: 10px;
  padding-left: 46px;
  padding-right: 46px;
  border: none;
  background-color: $base-color;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-top: 50px;
  color: $component-background;
  cursor: pointer;
  margin-bottom: 8px;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.component-button:hover {
  box-shadow: rgba(149, 157, 165, 1) 0px 8px 24px;
}
